*
{
    box-sizing: border-box;
    font-family: Georgia, serif
}

body
{
    font-size: 16px;
}

#likeViewer, #inc
{
    margin-left : 21%;
}

#forumName:hover
{
    color: lightgrey;
}

.sidebar {
    position: fixed;
    top: 3rem;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 1.2rem;
    overflow-y: auto;
    border-right: 0.1rem solid #eee;
    max-width: 180px;
}

/* overflow scollbar hidden but still scrollable */
/* ::-webkit-scrollbar {
    display: none;
    } */

#sectionsHeader
{
    padding: 0.2rem;
    color: gray;
}

.thumbnail
{
    width: 24px;
    height: 24px;
    margin-right: 0.5rem
}

ul li a:hover
{
   text-decoration: none; 
   background-color: rgba(211, 211, 211, 0.5);
   color: black;
   display: block;
   border-radius: 0.2rem;
}

.label
{
    color: black;
    display: block;
    cursor: pointer;
}

ul li
{
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.signUp-wrapper
{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 1rem;
    border: 0.1rem solid #888;
    max-width: 500px; 
    height: 100%;
    z-index: 4;
    display: none;
}

.signIn-wrapper
{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 1rem;
    border: 0.1rem solid #888;
    max-width: 500px; 
    height: 100%;
    z-index: 4;
    display: none;
}

.loginPic
{
    width: 45%;
}

.hello
{
    font-weight: bold;
}

.hello_p
{
    color: gray;
    font-size: 0.8rem;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

#email
{
    color: white;
}

.dropdown
{
    display: inline-block;
}

::placeholder
{
    text-align: center;
}

#postPage
{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 1rem;
    border: 0.1rem solid #888; 
    height: 100%;
    position: relative;
    z-index: 100;
    display: none;
    max-width: 500px; 
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}


.postJS
{
    margin-left: 20%;
}

.postJSRecentPost
{
    background-color: #f1f1f156;
    padding: 0.01em 16px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#recentPostTitle
{
    margin-left: 21%;
    margin-top: 5%;
    font-size: 1.5rem;
    font-family: 'Black Han Sans', sans-serif;

}

#post_list
{
    margin-left: auto;
    margin-right: auto;
    white-space: normal;
    word-wrap: break-word;
}

#post_name
{
    color: #009bd9;
}

.post_title
{
    text-decoration: none;
    color: #009bd9;
    white-space: normal;
    word-wrap: break-word;
}

.postContent
{
    white-space: normal;
    word-break: break-all;
}

.post_title:hover
{
    text-decoration: none;
    color: #115672;
    cursor: pointer;
}

.post_title_redirect_page
{
    text-decoration: none;
    color: #009bd9;
}

#commentBtn
{
    margin-left: 2%;
}

#deleteBtn
{
    margin-left: 2%;
}

#commentBox
{
    max-width: 1000px;
    background-color: white;
    margin-left: 21%;
    padding: 1rem;
    height: 100%;
    z-index: 4;
    display: none;
}

.post-text-area
{
    max-width: 1000px;
    width : 100%;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    padding: 0.8rem;
}

.action
{
    border: 1px solid #ccc;
    padding: 0.5rem;
}


.post_title_redirect_page
{
    font-size: 1.8rem;
}

.post_redirect_page
{
    font-size: 1.3rem;
    word-wrap: break-all;
}

#commentTitle
{
    margin-left: 21%;
}

.dropdown_category_div
{
    display: none;
}

.postJSRedirect
{
    border-left: 6px solid #ccc!important;
    border-color: #2196F3!important;
    color: #000!important;
    background-color: #f1f8ff!important;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* userPage css */
#userPage
{
    max-width: 1000px;
    margin-left: 21%;
    margin-top: 8%;
    position: relative;
    z-index: 2;
    display: none;
}

#avatar2
{
    width: 100px;
    height: 100px;
    display: inline-block;
}

#userName
{
    display: inline-block;
    margin: 1rem; 
}

.nav-link
{
    cursor: pointer;
}

.nav-tabs
{
    margin-top: 1rem;
}

post_list_user
{
    margin: 0;
    padding: 0;
}

#profileBtn, #logout-btn
{
    cursor: pointer;
}



@media only screen and (max-width: 850px) {
    .signIn-wrapper
    {
        margin-top: 30%;
        margin-bottom: 20%;
    }
    
    .signUp-wrapper
    {
        margin-top: 30%;
        margin-bottom: 20%;
    }
    .sidebar
    {
        display: none;
    }

    .postJS
    {
        margin-left: auto;
        margin-right: auto;
    }

    .postJSRedirect
    {
        margin-left: auto;
        margin-right: auto;
    }

    .postJSRecentPost
    {
        margin-left: auto;
        margin-right: auto;
    }

    #recentPostTitle
    {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }

    #commentBtn {
        margin-left: 2%;
    }
    #likeViewer, #inc
    {
        margin-left : 0;
    }

    #commentTitle
    {
        margin-left: 0;
    }

    #commentBox
    {
        margin-left: 0;
    }

    .dropdown_category_div
    {
        display: inline;
    }

    .dropdown_category
    {
        height: 100px;
        overflow-y: auto;
    }

    #userPage
    {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }

    #userName
    {
        font-size: 0.8rem;
    }

    #postPage
    {
        margin-top: 30%;
        margin-bottom: 20%;
    }

}

@media only screen and (max-width: 576px) {
    .dropdown
    {
        margin-left: 0;
        margin-top: 0.2rem;
    }
    #userPage
    {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    }

}