html,body 
{
  height: 100%;
  font-size: 16px;
}

body 
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: auto;
  padding-bottom: auto;
  background-color: #f5f5f5;
}

.form-signUp {
  width: 100%;
  max-width: 330px;
  padding: 1rem;
  margin: 0 auto;
}

.form-signUp .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 0.625rem;
}
.form-signUp .form-control:focus {
  z-index: 2;
}
.form-signUp input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signUp input[type="password"] {
  margin-bottom: 0.625rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

