#userPage
{
    max-width: 1000px;
    margin-left: 21%;
    margin-top: 8%;
    position: relative;
    z-index: 2;
}

#avatar2
{
    width: 100px;
    height: 100px;
    display: inline-block;
}

#userName
{
    display: inline-block;
    margin: 1rem; 
}

.nav-link
{
    cursor: pointer;
}

.nav-tabs
{
    margin-top: 1rem;
}